<h4>Users</h4>

  <% @photos.each do |photo| %>
    <figure>
      <%= link_to image_tag(photo.photo.url), user_photo_path(photo.user, photo) %>
      <figcaption><%= photo.name %></figcaption>
    </figure>
  </div>
    <% end %>
